html {
	height: 100%;
}
body {
	font-family: "Open Sans";
	font-weight: 300;
	margin: 0;
	padding: 0;
	text-align: center;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#container {
	padding: 25px;
	width: 450px;
	height: 450px;
	margin: 0 auto;
}

table {
	/* set size of font in table! */
	font-size: 30px;
	width: inherit;
	height: inherit;
}

/* defining a single cell */
td {
	/* set bg color and brightness of cell */
	/*background-color: #428bca;*/
	background-color: #88BAEA;
	opacity: 0.9;

	/* font color */
	color:#fff;


	/* center X's and O's in cell */
	vertical-align: center;
	text-align: center;
}

/* change cell when mouse hovers over it */
td:hover {
	/*opacity: 0.6;*/  /*make cell darker */
	cursor: pointer; /* mouse changes to pointer */
}

#home td {
	background-color: transparent;
	width: 50px;
	height: 50px;
}
#home td:hover {
	cursor: auto;
}

a,
a:visited {
	color: #00C16F;
	text-decoration: none;
	font-size: 30px;
	display: inline-block;
	margin: 0 5px;
}
